
body{

    background-color: #436148;
    max-width: 450px;
    margin: auto;
}

h1{

    color: #bdce9f;
    font-family: 'IBM Plex Sans', sans-serif;
}

h3{
    color: #f4c245;
    font-family: 'IBM Plex Sans', sans-serif;
}

p{font-family: 'IBM Plex Sans', sans-serif;
color: #e4effa;
}



.chart{
    width: auto;
    height: auto;
    border-width: 5px;
    background-color: white;
    border-style: solid;
    border-radius: auto;
    border-color: white;
    margin: auto;
    align-items: center;
    justify-content: center;


}
